ul.Social-network{
    list-style:none ;
    display: inline;
    padding: 0;
}

ul.Social-network li{
    display: inline;
    margin: 0%;
    padding: 5px;
}

.fa{
    font-size: 5pt;
    color: white;
    padding: 10px;
}

fa-facebook-square:hover{
    color: #3b5998;
}